
    <div class="signup-form mt-5">
        <h2 class="form-title">Sign up</h2>
        <div class="row">
          <div class="col-md-12 d-flex justify-content-center align-items-center">
              <figure><img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.svg"
                class="img-fluid" alt="Phone image"></figure>
              
          </div>
      </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="name"><i class="fa fa-user"></i></label>
                    <input #emailsignin type="email" name="name" class="form-control" id="name" placeholder="Your E-mail"/>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="name"><i class="fa fa-lock"></i></label>
                    <input #passwrodsignin type="password" name="name" id="name" class="form-control" placeholder="Your password"/>
                </div>
            </div>
            
        </div>
        <div class="row">
            <div class="col-md-12 d-flex justify-content-between ">
                <div class="form-group form-button">
                  <button (click)="SignInAction(emailsignin.value,passwrodsignin.value)" class="btn btn-primary btn-lg btn-block" >Sign in</button>
                </div>
                <a routerLink="/signup" class="signup-image-link">Create new account</a>
            </div>
        </div>
        
           
    </div>



